<span id="slick-flag" style="display: none"></span>
<span id="adjusted-scrollbox-flag" style="display: none"></span>

<div class="intro-container">
  <span id="homepage-flag" style="display: none"></span>
  <img src="assets/img/logo-white.svg" alt="Groep Huysman" class="logo">
</div>
<section id="top-anchor" class="container-index scrollify-content hidden">
  <div class="row full-height-row">
  <img src="assets/img/h.png" alt="" class="h-overlay">
    <div class="medium-6 small-12 columns left-column">
      <div class="row top-row">
        <div class="">
          <img class="home-logo" src="assets/img/logo.svg" alt="Groep Huysman">
        </div>
      </div>
       <div class="row bot-row text-container">
        <div class="home-text tester">
          
          <h1>Welkom bij <span>groep huysman</span></h1>
          <h2>Hier bent u <span>aan het juiste adres</span></h2>
          <div class="scrollable">
            
            <p>Groep Huysman is de verenigende factor tussen 5 verschillende familiebedrijven die met het oog op kruisbestuiving elkaar versterken om zo meerwaarde te creëren voor elke klant. Ons belangrijkste doel is om met maximale flexibiliteit 100% klantentevredenheid na te streven. </p>
            <p>Wij helpen u graag meebouwen aan uw dromen en toekomstplannen, en dit op verschillende domeinen. Gedurende ruim 3 generaties hebben wij ervaring opgebouwd in een breed gamma van diensten bestaande uit: financiën en verzekeringen, sleutel-op-de-deur woning- en appartementsbouw, productie van ramen en deuren in hout, pvc en aluminium, investeringsadvies, verhuur &amp; verkoop van bestaand vastgoed en projectontwikkeling.
            </p>
            <p> Samen met u werken we een plan uit dat volledig is afgestemd op uw wensen en behoeften. </p>
            <p><span>Pieter, frans en Domenique Huysman</span></p>
             
          </div>
          <a href="#container-link-page" class="ontdek-link"><p class="ontdek-link-p"><span>É</span> Ontdek onze bedrijven</p></a>
        </div> 
        
      </div>
    </div>  
    <div class="medium-6 hide-for-small-only columns full-height-column">
      <div class="slick">
        <div data-image="http://placekitten.com/1280/1720" class="slick-image-container"></div>
        <div data-image="http://placekitten.com/1281/1721" class="slick-image-container"></div>
        <div data-image="http://placekitten.com/1280/1721" class="slick-image-container"></div>
      </div>
    </div>
  </div>
</section>

<section id="container-link-page" class="hidden scrollify-content">

  <div class="link-page-wrapper hidden">
    <img src="assets/img/linkpage-h.svg" alt="" class= "top-h">
    <img src="assets/img/linkpage-h.svg" alt="" class= "bot-h">
    
    <img src="assets/img/logo.svg" alt="Groep Huysman" class="logo">
    
    
    <div class="graphics-left">
      <div class="horizontal-line-main">
      </div>
    </div>
    <div class="scrollable-content">
      
    
      <div class="graphics-right">
        <div class="horizontal-line1">
        </div>
        <div class="horizontal-line2">
        </div>
        <div class="horizontal-line3">
        </div>
        <div class="horizontal-line4">
        </div>
        <div class="horizontal-line5">
        </div>
        <div class="vertical-line">
        </div>
      </div>
      <div class="link-boxes-wrapper">
        <a data-fancybox-type="iframe" href="verzekeringen.html" class="fancybox">
          <div class="link-box">
            <div class="link-box-inside-wrapper">
              <div class="link-title">
                <p>Huysman </br>verzekeringen</p>
              </div>
              <div class="link-items-wrapper">
                <ul class="link-items">
                  <li class="first">Axa Bank</li>
                  <li>Verzekeringen</li>
                  <li class="last">Yacht insurance</li>
                </ul>
              </div>
            </div>
          </div>
        </a>
        <a data-fancybox-type="iframe" href="verzekeringen.html" class="fancybox">
          <div class="link-box">
            <div class="link-box-inside-wrapper">
              <div class="link-title">
                <p>Huysman </br>promoties</p>
              </div>
              <div class="link-items-wrapper">
                <ul class="link-items single-item-list">
                  <li>projectontwikkeling</li>
                </ul>
              </div>
            </div>
            </div>
          </a>
        <div class="link-box">
          <div class="link-box-inside-wrapper">
            <div class="link-title">
              <p>Huysman </br>bouw</p>
              </div>
              <div class="link-items-wrapper">
              <ul class="link-items">
                <li class="first">Bouwgronden</li>
                <li>Nieuwbouwwoningen</li>
                <li class="last">Appartementen</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="link-box">
          <div class="link-box-inside-wrapper">
            <div class="link-title">
              <p>Ramaco</p>
            </div>
            <div class="link-items-wrapper">
              <ul class="link-items single-item-list">
                <li class="single-item-list">ramen en deuren in hout, PVC en aluminium</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="link-box">
          <div class="link-box-inside-wrapper">
            <div class="link-title">
              <p>Immo </br>Huysman</p>
            </div>
            <div class="link-items-wrapper">
              <ul class="link-items">
                <li class="first">verkoop</li>
                <li class="last">Verhuur</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-contact hidden scrollify-content">
  <div class="contact-wrapper hidden">
    <div class="img-container">
      <a class="scrollToTop" href="#top-anchor">
      <img src="assets/img/logo-white.svg" alt="">
      </a>
    </div>
    <div class="contact-info">
      <address class="center">
        <p>Stationsstraat 83</p>
        <p>9900 Eeklo</p>
        <div class ="emailTel">
          <p>+32 9 376 14 11</p>
          <p><a href="mailto:hello@the-craft.be">info@groephuysman.be</a></p>
        </div>
      </address>
    </div>
  </div>
</section>

