
<span id="fancybox-flag" style="display: none"></span>

<div class="verzekeringen-container">

    <div class="slick">
        <div data-image="http://placekitten.com/1280/1720" class="slick-image-container"></div>
        <div data-image="http://placekitten.com/1281/1721" class="slick-image-container"></div>
        <div data-image="http://placekitten.com/1280/1721" class="slick-image-container"></div>
    </div>
        <img src="assets/img/detailpage-h.svg" alt="." class="detail-h">

    <div class="text-container">
    	<img class="logo" src="assets/img/verzekeringen-logo.png" alt="Huysman verzekeringen">
    	<h1>Huysman verzekeringen</h1>
    	<h2>is bank en verzekeraar</h2>
        <div class="scrollable">
        	<p>Al 3 generaties lang bieden we als onafhankelijke partner een bescherming aan gezinnen en hun bezittingen. Onze specialisten terzake combineren persoonlijk advies met een optimale begeleiding in de zoektocht naar oplossingen op maat in alle domeinen m.b.t huis-, tuin-, keuken verzekeringen en spaar- en beleggingsproducten. Bovendien beschikken wij over een team dat gespecialiseerd is in verzekeringen van ondernemingen. Onze specialisten voeren op regelmatige basis audits uit waardoor alle voorwaarden herbekeken en aangepast worden.
        	</p>
        	<p>Onze klanten, zowel particulieren als bedrijfsleiders, kunnen steeds rekenen op een deskundige aanpak van hun persoonlijk dossier dat steeds online in de klantenzone raadpleegbaar is. Als onafhankelijk adviseur staan wij ook steeds aan de zijde van onze cliënten bij een schadegeval, dit van zonsopgang tot zonsondergang en 7/7. Service verzekerd.</p>
    		<p>We verdedigen niet alleen de belangen van onze klanten in het geval van schade maar ook bij alle andere gebeurtenissen die een invloed hebben op hun verzekeringssituatie. Een regelmatige check-up en actualisatie van het verzekeringspakket zorgt er dan weer voor dat we steeds de beste service tegen de beste voorwaarden kunnen blijven bieden !</p>
		</div>
	</div>
	<div>
		<a href="http://www.the-craft.be" target="_blank" class="bezoek-link"><p><span>Õ</span> Bezoek onze website</p></a>
	</div>
</div>