.container-contact
	background-color: #272424
	color: #fff
	height: 100vh
	width: 100%
	min-height: 300px
	+breakpoint(medium)
		border: solid rem-calc(30) #fff
	position: relative
	.emailTel 
		padding-top: 20px
		@media screen and (max-height:300px)
			padding: 0
	.img-container
		width: 160px
		
		margin: 0 auto
		margin-bottom: 55px
		@media screen and (min-width:350px)
			width: 322px
		@media screen and (max-height:300px)
			width: 200px
	.contact-wrapper
		max-width: 960px
		min-width: 340px
		display: block
		margin: 0 auto
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		-webkit-transform: translate(-50%, -50%) 
		-ms-transform: translate(-50%, -50%)
		-o-transform: translate(-50%, -50%)

	p 

		font-size: rem-calc(16)
		font-family: encode_sansregular
		text-align: center
		line-height: rem-calc(16)
		font-style: normal
		a
			color: #fff

