.intro-container
	position: absolute
	width: 100%
	height: 99.9vh
	background-color: #282425
	border: solid rem-calc(10) #fff
	+breakpoint(medium)
		border: solid rem-calc(30) #fff

	.logo
		position: absolute
		top: 50%
		left: 50%
		webkit-transform: translateX(-50%) translateY(-50%)
		-moz-transform: translateX(-50%) translateY(-50%)
		transform: translateX(-50%) translateY(-50%)
		width: rem-calc(200)
		+breakpoint(medium)
			width: rem-calc(300)
		+breakpoint(large)
			width: rem-calc(400)

.hidden
	display: none

.container-index
	min-height: 300px
	width: 100%
	height: 100vh
	border: solid rem-calc(2) #fff
	+breakpoint(medium)
		border: solid rem-calc(30) #fff

	.h-overlay
		position: absolute
		bottom: 0px
		z-index: 10
		left: 50%
	
		display: none
		+breakpoint(large)
			display: block
			height: rem-calc(500)
			-moz-transform: translate(-60.5px,0)
			-o-transform: translate(-60.5px, 0)
			-ms-transform: translate(-60.5px, 0)
			-webkit-transform: translate(-60.5px, 0)
			transform: translate(-60.5px, 0)
		
		+breakpoint(xlarge)
			display: block
			height: rem-calc(716)
			-moz-transform: translate(-87px,0)
			-o-transform: translate(-87px, 0)
			-ms-transform: translate(-87px, 0)
			-webkit-transform: translate(-87px, 0)
			transform: translate(-87px, 0)
	.row
		max-width: 100%
		margin: 0
		padding: 0

	.full-height-row, .full-height-column
		height: 100%
		position: relative

	.left-column
		height: 100%
	.bot-row
		height: calc(100vh - 4px - 71px) // vh-border-logoheight
		+breakpoint(medium)
			height: calc(100vh - 60px - 45.4px)
		@media screen and (max-height: 300px)
			height: calc(100vh - 4px)
			+breakpoint(medium)
				height: calc(100vh - 60px)
	.scrollable
		width: 100%
		height: 100%
		overflow-x: hidden
		direction: ltr
		+breakpoint(large)
			direction: rtl
		height: 100%
		overflow-y: scroll
		
	.columns
		padding: 0

	.home-text
		height: 100%
		width: 95%
		margin-left: 2.5%
		+breakpoint(medium)
			margin-left: 13%
			width: 85%
		+breakpoint(large)
			margin-left: 33%
			width: 50%
		p
			font-size: rem-calc(14)
			direction: ltr
			font-family: encode_sanslight
		
			span
				font-family: encode_sansregular
		img
			float: left


	.ontdek-link
		text-transform: uppercase
		text-decoration: none
		color: #A5C5D5

		p
			font-size: rem-calc(16)
			font-family: berthold_akzidenz_groteskBdcn
			margin: 0
			padding: 0
			padding-left: rem-calc(20)
			margin-bottom: rem-calc(5)
			margin-top: rem-calc(5)
			span
				font-family: web_symbolsregular
	.home-logo
		margin-top: rem-calc(30)
		margin-left: 2.5%
		padding-left: 15px
		+breakpoint(medium)
			margin: 0
			padding-left: 0
		max-width: 33%
		min-width: 180px
		@media screen and (max-height:300px)
			display: none

	h1, h2
		font-size: rem-calc(22)
		line-height: rem-calc(24)
		text-transform: uppercase
		padding-right: rem-calc(30)
		letter-spacing: rem-calc(1)
		
		padding-left: 15px
		+breakpoint(medium)
			padding-left: 0
		span
			display: normal
			@media screen and (min-width:670px) 
				display: block
	p
		padding-left: rem-calc(15)
		padding-right: rem-calc(5)

	h1
		padding-top: rem-calc(10)
		margin-bottom: 0
		font-family: berthold_akzidenz_groteskmdcn
		+breakpoint(medium)
			padding-top: rem-calc(25)
		@media screen and (min-height: 300px)
			font-size: rem-calc(32)
	h2
		font-family: berthold_akzidenz_groteskLtcn
	.slick, .slick-list, .slick-track
		width: 100%
		height: 100%
		.slick-image-container
			background-position: 50% 50%
			background-size: cover
			position: fixed
			width: 100%
			height: 100%
