.top-h, .bot-h

	display: none
	+breakpoint(medium)
		display: block
	
.top-h
	position: absolute
	height: 42%
	left: -2px
	top: -2px

.bot-h
	position: absolute
	height: 42%
	left: -2px
	bottom: -2px


.link-page-wrapper
	position: relative 
	height: 100%
	width: 100%
	overflow: none


.scrollable-content
	position: relative 
	height: 100%
	width: 100%
	overflow: none
	@media screen and (max-height:330px)
		overflow-y: scroll
		overflow-x: hidden

#container-link-page
	width: 100%
	height: 100vh
	min-height: 300px
	background-color: #A4C5D5
	border: solid rem-calc(2) #fff
	+breakpoint(medium)
		border: solid rem-calc(30) #fff

	.logo
		width: 30%
		float: left
		position: absolute
		top: 50%
		left: 5%
		-webkit-transform: translatey(-50%)
		-moz-transform: translatey(-50%)
		transform: translatey(-50%)
		display: none
		+breakpoint(medium)
			display: block
		+breakpoint(large)
			width: 20%

	.graphics-left, .graphics-right
		position: absolute
		left: 26%

		float: left
		height: calc(100% - 60px)
		display: none
		+breakpoint(large)
			display: block
			width: 29%

		.horizontal-line1, .horizontal-line2, .horizontal-line3, .horizontal-line4, .horizontal-line5, .horizontal-line-main
			background-color: #fff
			height: 2vh
			position: absolute
			-webkit-transform: translateY(-50%)
			-ms-transform: translateY(-50%)
			transform: translateY(-50%)
		
		.horizontal-line1, .horizontal-line2,.horizontal-line3, .horizontal-line4, .horizontal-line5
			width: 50.3%
			left: 50%

		.horizontal-line1
			top: calc((((100vh - 60px) / 5)) / 2)
			@media screen and (max-height:330px)
				top: calc((((330px - 60px) / 5)) / 2)
				//top: 10.5%
		.horizontal-line2
			top: calc(((((100vh - 60px) / 5))/2) + (((100vh - 60px) / 5)))// viewheight -2x border van 30 verdelen in 5 gelijke stukken en daarvan de helft om in midden van de div met links te komen + de ruimte van een kader omdat dit voor de 2de is, voor de 3de + afstand*2 etc
			@media screen and (max-height:330px)
				top: calc(((((330px - 60px) / 5))/2) + (((330px - 2px) / 5)))
		.horizontal-line3
			@media screen and (max-height:330px)
				top: calc(((((330px - 60px) / 5))/2) + (((330px - 2px) / 5))) // veranderen van vh naar het max aantal pixels (640)
		.horizontal-line3
			top: calc(((((100vh - 60px) / 5))/2) + ((((100vh - 60px) / 5)) * 2))
			@media screen and (max-height:330px)
				top: calc(((((330px - 60px) / 5))/2) + ((((330px - 2px) / 5)) * 2))
		.horizontal-line4
			top: calc(((((100vh - 60px) / 5))/2) + ((((100vh - 60px) / 5)) * 3))
			@media screen and (max-height:330px)
				top: calc(((((330px - 60px) / 5))/2) + ((((330px - 2px) / 5)) * 3))
		.horizontal-line5
			top: calc(((((100vh - 60px) / 5))/2) + ((((100vh - 60px) / 5)) * 4))
			@media screen and (max-height:330px)
				top: calc(((((330px - 60px) / 5))/2) + ((((330px - 2px) / 5)) * 4))
		.horizontal-line-main

			left: 0
			width: 50.3%
			top: calc(((((100vh - 60px) / 5))/2) + ((((100vh - 60px) / 5)) * 2))
			@media screen and (max-height:330px)
				width: 48.5%
			@media screen and (max-height:176px)
				width: 48%
				top: rem-calc(58)

		.vertical-line
			background-color: white
			width: 2vh
			position: absolute
			-webkit-transform: translateX(-50%) translateY(-50%)
			-ms-transform: translateX(-50%) translateY(-50%)
			transform: translateX(-50%) translateY(-50%)
			height: calc(((((((100vh - 60px) / 5))/2) + ((((100vh - 60px) / 5)) * 4)) - (((100vh - 60px) / 5))/2) + 2vh)
			top: calc(50vh - 30px)
			left: 50%
			@media screen and (max-height:330px)
				-webkit-transform: none /* Safari and Chrome */
				-moz-transform: none /* Firefox */
				-ms-transform: none /* IE 9 */
				-o-transform: none /* Opera */
				transform: none
			
				top: calc((((330px - 60px) / 5)) / 2)
				height: calc(((((((330px - 60px) / 5))/2) + ((((330px - 2px) / 5)) * 4)) - (((330px - 60px) / 5))/2) )


	.link-boxes-wrapper
		margin: 0 auto
		width: 100%
		height: 100%
		-moz-box-sizing: border-box
		box-sizing: border-box
		float: right
		+breakpoint(medium)
			width: 60%
		+breakpoint(large)
			width: 45%
		a
			color: #000
		.link-box
			height: calc(((100vh - 4px) / 5))
			box-sizing: border-box
			-moz-box-sizing: border-box
			-webkit-box-sizing: border-box
			overflow: hidden
			background-color: #A4C5D5
			+breakpoint(medium)
				border-top: 2vh solid transparent
				border-bottom: 2vh solid transparent
				height: calc(((100vh - 60px) / 5))
			@media screen and (max-height:500px) 
				border: 0
			@media screen and (max-height:330px) 
				height: calc(((330px - 4px) / 5))
		
			.link-box-inside-wrapper
				border: 1px solid #fff
				border-right: none
				width: 100%
				height: 100%
				background: transparent
				background-repeat: no-repeat
				background-position-x: 99% 
				background-position-y: 50% 
				background-size: 20px 33%
				+breakpoint(medium)
					background-image: url(../img/link-arrow.png)
					background-position: right rem-calc(15) top 50%
				.link-title
					float: left
					height: 100%
				.link-title
					width: 45%
					p

						position: relative
						top: 50%
						-webkit-transform: translateY(-50%)
						-ms-transform: translateY(-50%)
						transform: translateY(-50%)
						padding: 0 0 0 rem-calc(10)
						margin: 0
						text-transform: uppercase
						font-size: rem-calc(20)
						line-height: rem-calc(20)
						font-family: berthold_akzidenz_groteskLtcn
						vertical-align: center
						+breakpoint(medium)
							font-size: rem-calc(24)
							line-height: rem-calc(24)
							padding-left: rem-calc(30)
						
				.link-items-wrapper
					width: 55%
					float: left
					display: flex
					align-items: center
					height: 100%
					.link-items
						list-style-type: none
						background: url(../img/vline-list-white.png) repeat-y
						margin: 0
						padding: 0
						li
							margin: 0
							padding: 0 rem-calc(12) 0 rem-calc(12)
							line-height: rem-calc(20)
							font-family: encode_sansregular
							font-size: rem-calc(10)
							text-transform: uppercase
							background: url(../img/node-list-white.png) no-repeat
							color: #000
							word-wrap: break-word
							+breakpoint(medium)
								font-size: rem-calc(12)
						li.last 
							background: #A4C5D5 url(../img/lastnode-list-white.png) no-repeat
						li.first
							background: #A4C5D5 url(../img/firstnode-list-white.png) no-repeat

					.single-item-list
						background: transparent
						li
							background: url(../img/single-node-list-white.png) no-repeat



#fancybox-loading
	background: #fff