
.fancybox-item.fancybox-close
	
	right: rem-calc(20)
	top: rem-calc(10)

.fancybox-close, .fancybox-prev span, .fancybox-next span
	background-image: url(../img/slick-close-button.png)
	width: 30px
	height: 30px
	background-size: 30px 30px

.fancybox-opened .fancybox-skin
    -webkit-box-shadow: 0 0 20px rgba( 0,0,0,0.05) 
    -moz-box-shadow: 0 0 20px rgba( 0,0,0,0.05) 
    box-shadow: 0 0 20px rgba( 0,0,0,0.05) 


div.fancybox-overlay.fancybox-overlay-fixed

	background: none
	background-color: #fff

.verzekeringen-container
	height: 100vh
	

	.slick, 
		display: none
		+breakpoint(medium)
			width: 55.2%
			height: 100vh
			display: block
	.slick-list
		width: 100%
		height: 100%
		div
			img
				width: 100%
				object-fit: cover

	.slick, 
		display: none
		+breakpoint(medium)
			width: 55.2%
			height: 100vh
			display: block
	.slick-list, .slick-track
		width: 100%
		height: 100%
		
		.slick-image-container
				background-position: 50% 50%
				background-size: cover
				position: fixed
				width: 100%
				height: 100%

	.text-container 
		height: 90%
		width: 100%
		position: absolute
		
		right: 0
		
		background-color: #fff
		+breakpoint(medium)
			width: 49%
			height: 80%
			top: 10%
		@media screen and (max-width: 400px) and (max-height:430px)
			height: 87%
		@media screen and (max-width: 400px) and (max-height:320px)
			height: 84%
		@media screen and (max-width: 400px) and (max-height:250px)
			height: 75%
	
		@media screen and (min-width: 400px) and (max-height:570px)
			height: 77%
		@media screen and (min-width: 400px) and (max-height:350px)
			height: 74%
		@media screen and (min-width: 400px) and (max-height:280px)
			height: 70%
		
		.scrollable
			overflow-y: scroll
			overflow-x: hidden

		.logo
			margin-top: rem-calc(25)
			margin-left: rem-calc(20)
			+breakpoint(medium)
				margin-top: rem-calc(36)
				margin-left: rem-calc(36)
		h1
			font-family: berthold_akzidenz_groteskmdcn
			margin-top: rem-calc(20)
			+breakpoint(medium)
				margin-top: rem-calc(30)
		h2
			font-family: berthold_akzidenz_groteskLtcn
			margin-bottom: rem-calc(18)
			+breakpoint(medium)
				margin-bottom: rem-calc(25)
		h1, h2
			margin-left: rem-calc(20)
			font-size: rem-calc(26)
			line-height: rem-calc(24)
			text-transform: uppercase
			+breakpoint(medium)
				margin-left: rem-calc(36)
				font-size: rem-calc(32)
				line-height: rem-calc(30)
			@media screen and (max-height:400px)
				font-size: rem-calc(24)
				line-height: rem-calc(20)
				margin-top: 0
				margin-bottom: 0

			@media screen and (max-height:300px)
				font-size: rem-calc(16)
				line-height: rem-calc(14)
				margin-top: 0
				margin-bottom: 0
		
		p
			font-family: encode_sanslight
			margin-left: rem-calc(35)
			margin-right: rem-calc(25)
			font-size: rem-calc(14)
			+breakpoint(medium)
				margin-left: rem-calc(88)
				margin-right: rem-calc(59)
	.detail-h
		display: none
		position: absolute
		height: 50vh
		bottom: 0
		+breakpoint(medium)
			display: block
	.bezoek-link
		font-size: rem-calc(16)
		font-family: berthold_akzidenz_groteskBdcn
		position: absolute
		bottom: rem-calc(3)
		margin-bottom: rem-calc(18)
		left: 10%
		text-transform: uppercase
		text-decoration: none
		color: #A5C5D5

		+breakpoint(medium)
			bottom: 0
			left: 60%

		p
			margin-bottom: 0
			color: #3f5364
			text-decoration: none

		span
			vertical-align: middle
			font-family: web_symbolsregular
			font-size: rem-calc(20)
	