{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
   
    <link rel="stylesheet" href="{{root}}assets/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="{{root}}assets/slick/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="{{root}}assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css"/>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" type="text/css">
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script type="text/javascript" src="{{root}}assets/js/app.js"></script>
    <script type="text/javascript" src="{{root}}assets/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{root}}assets/bower_components/what-input/what-input.js"></script>
    <script type="text/javascript" src="{{root}}assets/bower_components/foundation-sites/dist/foundation.js"></script>
    <script type="text/javascript" src="{{root}}assets/bower_components/Scrollify/jquery.scrollify.min.js"></script>
    <script type="text/javascript" src="{{root}}assets/slick/slick.min.js"></script>
    <script type="text/javascript" src="{{root}}assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
  </body>
</html>





